/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /* Almendra */
@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap'); /* Bokor */


/* Header styles */

h1 {
	font-family: Bokor, Times, serif;
	font-size: 42px;
	color: #ffffff;
}

h2 {
	font-family: Bokor, Times, serif;
	font-size: 36px; 
	color: #ffffff;
}

h3 {
	font-family: Bokor, Times, serif;
	font-size: 26px;
	color: #ffffff;
}

h4 {
	font-family: Bokor, Times, serif;
	font-size: 18px;
	color: #ffffff;
}

/* Text styles */

.white_text {
	font-family: Almendra, Times, serif;
	font-size: 16px;
	text-shadow: 0px 0px 3px white;
	color: white;
}

a:link {
	color: #64c0d6;
	text-decoration: underline;
}

a:visited {
	color: #4a6e98;
	text-decoration: underline;
}

a:hover {
	color: #8cc4ad;
	text-decoration: underline;
}

input:focus, textarea:focus {
	background-color: #a4a476;
}

/* Image styles */

.sidebar img {
    width: 100%; /* Resize the image to 90% of the sidebar's width */
    height: auto; /* This keeps the image's aspect ratio intact */
}

.banner_image img {
	height: 120px;
	width: auto;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.main_body > div > img {
	max-width: 100%;
	height: auto;
}

.soundboard img {
	height: 25%;
	width: 25%;
}

.soundboard img:hover {
	height: 30%;
	width: 30%;
	filter: saturate(0) brightness(150%);
}

.soundboard img:active {
	filter: saturate(0) brightness(1000%);
}

/* Div styles */

.guestbook_form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	gap: 10px;
}

.sidebar {
	background-color: #302f2c;
	color: white;
	width: 15%;
	height: 100%; /* Full height */
	left: 0;
	top: 0;
	position: fixed; /* Make it stick, even on scroll */
	overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.banner_image {
	position: fixed;
	top: 0;
	left: 15%;
	padding: 0px;
	width: 85%;
	height: 120px;
	background-color: black;
}

.main_body {
	margin-left: 15%;
	margin-top: 120px;
	width: 85%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main_body > div {
	background-color: #000000;
	color: #ffffff;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
	border-style: outset;
	border-color: #adadad;
}

.change_log {
	background-color: white;
	color: black;
	width: 90%;
	height: 25%;
	margin: 5%;
	padding: 5px;
	overflow-y: scroll;
}

.soundboard {
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #ffffff;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
	border-style: outset;
	border-color: #adadad;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 20px;
}

/* Table styles */

td {
	border: 4px groove black;
}

.main_body table {
	width: 100%;
	height: auto;
	border: 4px groove black;
	background-size: 100% 100%;
	background-position: 0px 0px;
	background-image: linear-gradient(180deg, #E2DAD0FF 0%, #8A8FB3FF 100%); /* Calculated with help of https://colorgradient.dev/ */
	color: #000000;
}

.table_header_row {
	background-size: 100% 100%;
	background-position: 0px 0px;
	background-image: linear-gradient(180deg, #E2DAD0FF 0%, #684932FF 100%); /* Calculated with help of https://colorgradient.dev/ */
	border: 4px groove black;
}

/* .main_table_rows {
	background-size: 100% 100%;
	background-position: 0px 0px;
	background-image: linear-gradient(180deg, #E2DAD0FF 0%, #8A8FB3FF 100%); Calculated with help of https://colorgradient.dev/
	font-size: 20px;
} */

/* Miscellaneous */

body {
	height: 85%;
	/* background-image: url("../media/bgimage.png");
	background-attachment: fixed; */
	background-color: #FFFFFF; 
	font-family: Almendra, Times, serif;
	font-size: 16px;
	text-shadow: 0px 0px 3px white;
	color: black;
}

video {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

html {
    height: 100%;
}

/* Collapsible menus */

.collapsible_world_menu {
	background-color: #302f2c;
	color: #ffffff;
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 17px;
	font-family: Almendra, Times, serif;
	text-shadow: 0px 0px 3px black;
}  

.collapsible_characters_menu {
	background-color: #302f2c;
	color: #ffffff;
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 17px;
	font-family: Almendra, Times, serif;
	text-shadow: 0px 0px 3px black;
}  

.collapsible_media_menu {
	background-color: #302f2c;
	color: #ffffff;
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 17px;
	font-family: Almendra, Times, serif;
	text-shadow: 0px 0px 3px black;
}  
  
  .active, .collapsible_world_menu:hover, .collapsible_characters_menu:hover, .collapsible_media_menu:hover {
  background-color: #5e5d5a;
}

.collapsible_menu_content {
  padding: 0 5px;
  overflow: auto;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background-color: #302f2c;
}

.menu_button {
	background-color: #302f2c;
	color: #ffffff;
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 14px;
	font-family: Almendra, Times, serif;
	text-shadow: 0px 0px 3px black;
}

.active, .menu_button:hover {
  background-color: #5e5d5a;
}
  
textarea {
  width: 100%;
  height: 25%;
  padding: 5px;
  box-sizing: border-box;
}